
body {
font-family: Constantia;
background-image: url(images/IMG_0823.jpg);
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
}

@font-face {
  font-family: 'constantia';
  src: url(fonts/Constantia.ttf);
  font-weight: 200;
  }

/**.navbar {
  font-family: serif;
  position: fixed;
  top: 0;
  left: -200px;
  width: 150px;
  height: 100%;
  background: linear-gradient(to top right, blue, aqua);
  border-right: 2px solid #008c71;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }

.navbar--open {
  left: 0;
  opacity: 1;
}

.navbar__link {
  display: flex;
  align-items: center;
  background: #404040;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  border-bottom: 1px solid #009879;
  }

.navbar__link .material-icons {
  margin-right: 12px;
  }

.navbar__link:active {
  background: #007d65;
  }

button {
	font-weight: bold;
	width: 15vw;
	height: 50px;
	border: 1.5px solid black;
 	border-radius: 25px;
	position: absolute;

	margin: auto;
	font-size: 1rem;
	color: mintcream;
	background-color: aqua;
	background: linear-gradient(to top right, blue, aqua);
	cursor: pointer;
	}

button:hover {
	background-color: rgb(0, 22, 206);
	color: black;
  border: 1.5px solid white;
	}

button:active {
  color: blue;
  }**/

/* Grid sections */

  .container-grid {
  display: grid;
  grid-template-columns: /*repeat(3, 1fr)*/ 25% 50% 20%;
  grid-gap: .7rem;
  grid-auto-rows: auto;
  }

.section0{
  grid-column: 1 / 6;
  grid-row: 1 / 2;
  text-align: center;
  margin: 2.5%;
  }

.section1{
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  }

.section2{
  grid-column: 2;
  grid-row: 3;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'constantia';
  }

.section3{
  grid-column: 2;
  grid-row: 4;
  color: white;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
  }

.section4{
  grid-column: 2;
  grid-row: 5;
  color: white;
  text-align: center;
  font-size: 20px;
  }

#socialmedia {
	text-align: center;
	}

#socialmedia ul {
	padding: 0;
	margin: 0;
	vertical-text: middle;
	}

#socialmedia ul li {
	display: inline;
	padding: 10px;
	margin: 0;
	}

#socialmedia ul li a {
	padding: 10px 10px;
	}

#socialmedia ul li a img:hover {
  width: 4vw;
  height: 4vw;
  border: 3px solid white;
  border-radius: 100%;
  }

.section5 {
  grid-column: 2;
  grid-row: 6;
  height: 100px;
  text-align: justify;
  font-size: 1em;
  }

.section6 {
  grid-column: 3 / 4;
  grid-row: 2 / 7;
  width: fit-content;
}

.section7 {
  grid-column: 1 / 2;
  grid-row: 2 / 7;
}

/**Media Queries**/
@media only screen and (max-width: 950px) {

}

@media only screen and (max-width: 550px) {
  .container-grid {
    display: grid;
    grid-template-columns: 10% 60% 15%;
    grid-gap: 10px;
    grid-auto-rows: auto;
    }

  .section2 {
    font-size: 1rem;
    text-align: center;
    }
  .section2 img {
    text-align: center;
    width: 100%;
  }

  .section3 {
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-align: center;
    }

  .section4 {
    margin-left: 10%;
    margin-right: 10%;
    }

  .section6 {
    margin-top: 50%
    }
}
